---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/about/rules.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=OeOYbNms7o9BCUZQVLpBCora2FhytQVVPtx29cz9InlfPFJOjqiQLrZMM6b%2B7lj0z8LluM4V4K4%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"rules": [{"kind": "all", "description": "No posting anything that
        violates reddit''s spam or advertising policies.", "short_name": "No advertising
        spam", "violation_reason": "Advertising Spam", "created_utc": 1453791676.0,
        "priority": 0, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;No
        posting anything that violates reddit&amp;#39;s spam or advertising policies.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;"}, {"kind": "all", "description": "Being abusive", "short_name":
        "Abusive", "violation_reason": "Abuse", "created_utc": 1487815589.0, "priority":
        1, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Being
        abusive&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;"}, {"kind": "all", "description":
        "No identifying info or attempts to find info on someone else.", "short_name":
        "ID", "violation_reason": "Identifying info/seeking identifying info", "created_utc":
        1487815771.0, "priority": 2, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;No identifying info or attempts to find info on someone
        else.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;"}, {"kind": "all", "description":
        "Not a credible news source OR misleading title", "short_name": "News", "violation_reason":
        "Not a credible news source OR misleading title", "created_utc": 1487815826.0,
        "priority": 3, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Not
        a credible news source OR misleading title&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;"}], "site_rules": ["Spam", "Personal and confidential information",
        "Threatening, harassing, or inciting violence"]}'
  recorded_at: Wed, 22 Mar 2017 20:45:32 GMT
recorded_with: VCR 3.0.3
