---
http_interactions:
- request:
    method: get
    uri: https://oauth.reddit.com/subreddits/mine/subscriber
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer 1xNEqeMNAkdzgSFP5Vq2RmkyE8E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '598.0'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '183'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=3ClUqOFwkNnQX9ooJJLOWF8DL8qp2wKUOSZN7YVcgVHhzrOaOyM0lqpA%2B97en9WDNytwTTDulXcudaAZpFtfEjoKxyXD9xBl
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": null, "children": [{"kind":
        "t5", "data": {"user_is_contributor": false, "banner_img": "", "submit_text_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Please familiarize
        yourself with the &lt;a href=\"/r/gadgets\"&gt;/r/gadgets&lt;/a&gt; rules
        &lt;strong&gt;before submitting&lt;/strong&gt;, you can find the rules &lt;a
        href=\"https://www.reddit.com/r/gadgets/wiki/rules\"&gt;on this page&lt;/a&gt;
        and in the sidebar..&lt;/p&gt;\n\n&lt;p&gt;We use the reddit FAQ guidelines
        for spam when removing spam posts. Additionally, as a spam-prevention measure,
        users with accounts that have less than 5 combined karma and/or are less than
        14 days old, may be subject to having their posts removed.&lt;/p&gt;\n\n&lt;p&gt;Please
        ask questions and advice in the &lt;a href=\"http://www.reddit.com/r/gadgets/about/sticky?num-1\"&gt;Questions
        and Advice SuperThread&lt;/a&gt;, rather than as a separate submission.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "user_is_banned": false, "wiki_enabled": true, "show_media":
        true, "id": "2qgzt", "description": "*[Chat with us!](https://app.orangechat.io/r/gadgets)*\n\n[](http://goo.gl/vlYYhs)\n[](http://goo.gl/utayY5)\n\n&gt;
        **gadget** *(noun)* - a small mechanical / electrical device or tool, especially
        an ingenious or novel one.\n\n### Need gadget advice?\n\n## [Gadget Advice
        Superthread](http://www.reddit.com/r/gadgets/about/sticky)\n\n###Follow Us
        On Twitter!\n\n##[@GadgetsReddit](https://twitter.com/GadgetsReddit)\n\n\n
        \n### Domain white list\n \n## \\/r[...]
