---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=228inU5NLSkMW6%2FQ8b%2FRQPx5tN0alYTAyBy%2BhO8yX6ZNwUnB515AmmyNVW9C5Q9tQpzQ8mQsqss%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t5", "data": {"user_is_contributor": null, "banner_img":
        "", "submit_text_html": null, "user_is_banned": null, "wiki_enabled": true,
        "show_media": true, "id": "2qmno", "description": "###\n\n###\n\n***\n\nWelcome
        to /r/Tucson, the subreddit for content pertaining to the Tucson Metropolitan
        area including: *Tucson, Marana, Vail, Oro Valley, Green Valley &amp; Sahuarita*.
        \n\n###\n\n###\n\n***\n\n#**Please follow some basic rules:**\n\n&gt;#**(*Hover
        to expand*)**\n\n&gt;* **Please always follow [**Redditquette**](http://www.reddit.com/wiki/reddiquette)!**  \n\n&gt;
        * **Racism, sexism, homophobia, abuse, or any other hatred or trolling [...]
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/about/rules.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=MumZnRXqxEJXxjPW%2BfRIFUTH6jTASgrmDzxasDUM6oHYRIxghAIBpAvuUyKY1WuRuI76rJbUO9U%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"rules": [{"kind": "all", "description": "No posting anything that
        violates reddit''s spam or advertising policies.", "short_name": "No advertising
        spam", "violation_reason": "Advertising Spam", "created_utc": 1453791676.0,
        "priority": 0, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;No
        posting anything that violates reddit&amp;#39;s spam or advertising policies.&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;"}, {"kind": "all", "description": "Being abusive", "short_name":
        "Abusive", "violation_reason": "Abuse", "created_utc": 1487815589.0, "priority":
        1, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Being
        abusive&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;"}, {"kind": "all", "description":
        "No identifying info or attempts to find info on someone else.", "short_name":
        "ID", "violation_reason": "Identifying info/seeking identifying info", "created_utc":
        1487815771.0, "priority": 2, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div
        class=\"md\"&gt;&lt;p&gt;No identifying info or attempts to find info on someone
        else.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;"}, {"kind": "all", "description":
        "Not a credible news source OR misleading title", "short_name": "News", "violation_reason":
        "Not a credible news source OR misleading title", "created_utc": 1487815826.0,
        "priority": 3, "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Not
        a credible news source OR misleading title&lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;"}], "site_rules": ["Spam", "Personal and confidential information",
        "Threatening, harassing, or inciting violence"]}'
  recorded_at: Thu, 23 Mar 2017 18:27:10 GMT
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/hot.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=81Kz245igVGAKN0vXNFoswEeBupBd15OpUaVleu8HGP8GME9zRK5jN7FGZMZeE761AECc0RjLNU%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"contest_mode": false, "banned_by": null, "media_embed": {}, "subreddit":
        "Tucson", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;&lt;strong&gt;ALL
        classified-type posts must be posted in this thread and not in the main sub.&lt;/strong&gt;&lt;/p&gt;\n\n&lt;p&gt;Topics
        that are appropriate for this thread include:&lt;/p&gt;\n\n&lt;ul&gt;\n&lt;li&gt;&lt;p&gt;Buy/Sell/Trade
        of: propery, vehicles, goods (&lt;em&gt;nothing illegal&lt;/em&gt;)&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Cross
        posts from Craigslist&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Roommate(s)
        wanted/needed&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Sublets/vacancies available&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Residential
        and/or commercial real estate for sale/lease&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Questions
        about neighborhoods/where to live or rent&lt;/p&g[...]
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/comments/5wt8jd/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=Cc19W42RO5SA8Ief3rBO1CwXBgibwP9htMvOweyib3ZIKWhkFM%2FvocT26xOnFSbHW2rtx4QPhbA%3D
      X-Moose:
      - majestic
    body:
     [...]
[...]
