---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=4SO5Yux42xzOBiompyauZ3xgxYK7CTtrFLcYqwXUxQuuAcgCyHyriSl9w6UL9D1MYmK05hUoUNw%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t5", "data": {"user_is_contributor": null, "banner_img":
        "", "submit_text_html": null, "user_is_banned": null, "wiki_enabled": true,
        "show_media": true, "id": "2qmno", "description": "###\n\n###\n\n***\n\nWelcome
        to /r/Tucson, the subreddit for content pertaining to the Tucson Metropolitan
        area including: *Tucson, Marana, Vail, Oro Valley, Green Valley &amp; Sahuarita*.
        \n\n###\n\n###\n\n***\n\n#**Please follow some basic rules:**\n\n&gt;#**(*Hover
        to expand*)**\n\n&gt;* **Please always follow [**Redditquette**](http://www.reddit.com/wiki/reddiquette)!**  \n\n&gt;
        * **Racism, sexism, homophobia, abuse, or any other hatred or trolling [...]
