---
http_interactions:
- request:
    method: post
    uri: https://www.reddit.com/api/v1/access_token
    body:
      encoding: UTF-8
      string: grant_type=refresh_token&refresh_token=71227529-WzgF-IgwDl98WpQNL1TQtC-V_j4&redirect_uri=http://localhost:3000/auth/reddit/callback
    headers:
      Authorization:
      - Basic V3l6ZlNQVWljVy1IV3c6LTNmNFdEY250bHozaFA4cVhxb0NNNk1lU3Jz
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '{"access_token": "GI19Wc4rYy_ATpJ-Lbe23O17bd0", "token_type": "bearer",
        "device_id": "None", "expires_in": 3600, "scope": "identity mysubreddits read"}'
  recorded_at: Wed, 22 Mar 2017 16:52:25 GMT
recorded_with: VCR 3.0.3
