---
http_interactions:
- request:
    method: get
    uri: https://www.reddit.com/r/tucson/comments/5wt8jd/.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=lVg1X%2FDXjEoszfF%2F3equ3KIGVKnmpRicAP3SlwLmbSrPCj%2Bl4BTTOm%2FeA4cj%2B%2FeXm%2Fl21y07oWM%3D
      X-Moose:
      - majestic
    body:
      encoding: UTF-8
      string: '[{"kind": "Listing", "data": {"modhash": "", "children": [{"kind":
        "t3", "data": {"contest_mode": false, "banned_by": null, "media_embed": {},
        "subreddit": "Tucson", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;&lt;strong&gt;ALL
        classified-type posts must be posted in this thread and not in the main sub.&lt;/strong&gt;&lt;/p&gt;\n\n&lt;p&gt;Topics
        that are appropriate for this thread include:&lt;/p&gt;\n\n&lt;ul&gt;\n&lt;li&gt;&lt;p&gt;Buy/Sell/Trade
        of: propery, vehicles, goods (&lt;em&gt;nothing illegal&lt;/em&gt;)&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Cross
        posts from Craigslist&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Roommate(s)
        wanted/needed&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Sublets/vacancies available&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Residential
        and/or commercial real estate for sale/lease&lt;/p&gt;&lt;/li&gt;\n&lt;li&gt;&lt;p&gt;Questions
        about neighborhoods/where to live or rent&lt;/p&g[...]
