/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*navbar styling*/
 .nav-wrapper {
   background-color: #cee3f8;
 }

 .nav-wrapper a {
   color: #393e41;
 }

 body a {
   color: #5f99cf;
 }

 a:hover {
   color: #e7bb41;
 }

 .row .container .body {
   border: 1px solid #000000;
 }

 #comment_info {
   color: #5f99cf;
 }

/*color palette*/

/*Reddit light blue: #cee3f8
Reddit dark blue: #5f99cf
Reddit red: #ff4500*/

/*#393e41 dark grey
#d3d0cb light grey
#e7e5df off white
#44bba4 ocean green
#e7bb41 mustard*/
