<h1><%= @subreddit.url %></h1>
<h5><%= @subreddit.description %></h5>

<div class="welcome">
  <p><%= @subreddit.welcome_message %></p>
</div>

<div class="rules">
  <% @subreddit.rules.each do |rule| %>
    <p><%= rule.content %></p>
  <% end %>
</div>
